# Cloudinary Image Storage Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Admin Access Credentials
NEXT_PUBLIC_ADMIN_EMAIL=admin@bites.com
NEXT_PUBLIC_ADMIN_PASSWORD=admin123
NEXT_PUBLIC_ADMIN_PIN=1234
